.image-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    padding: 20px;
    box-sizing: border-box}

.image-wrapper img {
    width: 30%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px}

.page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px}

.left-text {
    flex:1}

.right-picture {
    width: 300px;
    height: auto}

body {
    background-color: #8BB450;
    font-size: 18px}

a:link {
    color: #2C79CE}

a:visited {
    color: #1837DC}

footer {
    width: 100%;
    padding: 20px 0}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px}